{% extends "index.html" %}
{% block title %}
	<title>категории</title>
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'category.css' %}">
{% endblock %}

{% block content %}

	<div class="box">
			{% for i in category %}
		<a style="text-decoration: none; color: black; font-weight: bolder;" href="{% url 'category_post' name=i.0 %}">
		<div>
			<h3 class="title">{{ i.0 }}</h3>
		<div class="_img" style="background-image: url({{ i.1.photo.url }});"></div>
			</div>
			</a>
			{% endfor %}
    </div>
{% endblock %}
